.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__mini {
    display: none;
}

.tabs__links {
    display: flex;
    flex-direction: row;
    order: 0;
    white-space: nowrap;
    margin-bottom: 15px;
    background-color: #fff;
    padding-right: 15px;
}

.tabs__links>a {
    display: inline-block;
    text-decoration: none;
    text-align: left;
    padding: 5px;
}

.tabs__links>a:hover {
    background-color: rgba(227, 242, 253, 0.3);
    color: rgb(30, 105, 204);
}

.tabs>#content-1:target~.tabs__links>a[href="#content-1"],
.tabs>#content-2:target~.tabs__links>a[href="#content-2"],
.tabs>#content-3:target~.tabs__links>a[href="#content-3"],
.tabs>#content-4:target~.tabs__links>a[href="#content-4"],
.tabs>#content-5:target~.tabs__links>a[href="#content-5"] {
    cursor: default;
    color: rgb(30, 105, 204);
    font-weight: bold;
}

.tabs>div:not(.tabs__links) {
    display: none;
    order: 1;
    flex-grow: 1;
}

@media (min-width: 576px) {
    .tabs {
        flex-direction: row;
    }
    .tabs__links {
        flex-direction: column;
        box-shadow: none;
    }
    .tabs__links>a {
        margin-bottom: 8px;
    }
    .tabs__links>a:last-child {
        margin-bottom: 0;
    }
    .tabs>div:not(.tabs__links) {
        padding-left: 15px;
    }
}

@media (max-width: 576px) {
    .tabs__links {
        display: none;
    }
    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(214, 214, 214);
    }
    .tabs__mini {
        display: block;
        border: 2px solid grey;
        text-align: center;
        margin: 0 auto;
        width: 30%;
        margin-bottom: 20px;
    }
    .tabs__mini::after {
        content: '\2228';
        margin-left: 5px;
        font-weight: bold;
    }
    .pricep::after {
        content: '\2227';
    }
    .form__adr>form>input[type="submit"] {
        width: 10px;
    }
}

.tabs>div:target {
    display: block;
}


/* Настройка содержимого табов */

.tabs>div>h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
}


/* 2 таб */

.form__adr>form,
.spoiler>div {
    display: flex;
    flex-direction: column;
    color: rgb(54, 53, 53);
}

.form__adr {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 100%;
}

.form__adr>form>label,
.form__adr>form>input,
.form__adr>form>textarea,
.form__adr>form>select,
.spoiler>div>label,
.spoiler>div>input,
.spoiler>div>div>label,
.spoiler>div>div>input {
    margin-bottom: 5px;
    margin-top: 5px;
}

.form__adr>form>select {
    margin-bottom: 15px;
}

.form__adr>form>input,
.spoiler>div>input,
.spoiler>div>div>input,
.form__adr>form>select {
    height: 30px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(243, 243, 243);
}

.form__adr>form>textarea {
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(243, 243, 243);
}

.form__adr>form>input:focus,
.spoiler>div>input:focus,
.spoiler>div>div>input:focus,
.form__adr>form>textarea:focus,
.form__adr>form>select:focus {
    background-color: rgb(255, 255, 255);
}

.form__adr>form>label>span,
.spoiler>div>label>span,
.spoiler>div>div>label>span {
    color: red;
}

.form__adr>form>input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: rgba(30, 105, 204, .8);
    height: 40px;
}

.form__adr>form>input[type="submit"]:hover {
    background-color: rgba(30, 105, 204, 1);
    cursor: pointer;
}


/* Spoiler */

.spoiler__text {
    display: none;
}

.spoiler__text>div {
    display: flex;
    flex-direction: column;
}

.sp {
    font-weight: bold;
    font-size: 20px;
}

#spoiler1 {
    height: 15px;
    width: 15px;
}

.head__tabs {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}